{
  "extends": "@antfu",
  "rules": {
    "quote-props": "off",
    "no-useless-return": "off",
    "curly": "off",
    "@typescript-eslint/brace-style": "off",
    "n/handle-callback-err": "off",
  }
}
